/* ==========================================================================
   general
   ========================================================================== */
@-webkit-keyframes floating1 {
  0%,
  100% {
    margin-top: 0px;
    opacity: 0.6;
  }
  60% {
    margin-top: -6px;
    opacity: 1;
    /*box-shadow:0 0 20px @shine;*/
  }
}
@keyframes floating1 {
  0%,
  100% {
    margin-top: 0px;
    opacity: 0.6;
  }
  60% {
    margin-top: -6px;
    opacity: 1;
    /*box-shadow:0 0 20px @shine;*/
  }
}
@-webkit-keyframes floating2 {
  0%,
  100% {
    margin-top: 0px;
    opacity: 0.4;
  }
  40% {
    margin-top: -3px;
    opacity: 1;
  }
}
@keyframes floating2 {
  0%,
  100% {
    margin-top: 0px;
    opacity: 0.4;
  }
  40% {
    margin-top: -3px;
    opacity: 1;
  }
}
@-webkit-keyframes floating3 {
  0%,
  100% {
    margin-top: 0px;
    opacity: 0.6;
  }
  90% {
    margin-top: -2px;
    opacity: 1;
  }
}
@keyframes floating3 {
  0%,
  100% {
    margin-top: 0px;
    opacity: 0.6;
  }
  90% {
    margin-top: -2px;
    opacity: 1;
  }
}
@-webkit-keyframes floating4 {
  0%,
  100% {
    margin-top: 0px;
    opacity: 0.4;
  }
  60% {
    margin-top: -2px;
    opacity: 1;
  }
  90% {
    margin-top: -4px;
  }
}
@keyframes floating4 {
  0%,
  100% {
    margin-top: 0px;
    opacity: 0.4;
  }
  60% {
    margin-top: -2px;
    opacity: 1;
  }
  90% {
    margin-top: -4px;
  }
}
@-webkit-keyframes hole {
  25% {
    -webkit-transform: scale(0.7) rotate(0deg);
            transform: scale(0.7) rotate(0deg);
  }
  65% {
    -webkit-transform: scale(4) rotate(100deg);
            transform: scale(4) rotate(100deg);
  }
  80% {
    -webkit-transform: scale(4.5) rotate(90deg);
            transform: scale(4.5) rotate(90deg);
  }
  100% {
    -webkit-transform: scale(12) rotate(90deg);
            transform: scale(12) rotate(90deg);
  }
}
@keyframes hole {
  25% {
    -webkit-transform: scale(0.7) rotate(0deg);
            transform: scale(0.7) rotate(0deg);
  }
  65% {
    -webkit-transform: scale(4) rotate(100deg);
            transform: scale(4) rotate(100deg);
  }
  80% {
    -webkit-transform: scale(4.5) rotate(90deg);
            transform: scale(4.5) rotate(90deg);
  }
  100% {
    -webkit-transform: scale(12) rotate(90deg);
            transform: scale(12) rotate(90deg);
  }
}
/*flipping avatar*/
@-webkit-keyframes flipping {
  0% {
    /*bottom:0;*/
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    /*bottom:30px;*/
    -webkit-transform: rotateY(2340deg);
            transform: rotateY(2340deg);
  }
}
@keyframes flipping {
  0% {
    /*bottom:0;*/
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    /*bottom:30px;*/
    -webkit-transform: rotateY(2340deg);
            transform: rotateY(2340deg);
  }
}
@-webkit-keyframes fade-in-out {
  0% {
    bottom: 0;
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0;
    bottom: 160px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}
@keyframes fade-in-out {
  0% {
    bottom: 0;
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0;
    bottom: 160px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}
@-webkit-keyframes fade-in {
  0% {
    top: 100px;
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    top: 0px;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes fade-in {
  0% {
    top: 100px;
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    top: 0px;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes fade-out {
  0% {
    top: 100px;
    opacity: 1;
  }
  100% {
    top: -800%;
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    top: 100px;
    opacity: 1;
  }
  100% {
    top: -800%;
    opacity: 0;
  }
}
@-webkit-keyframes avatar_fadein {
  0% {
    /*top:100px;*/
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    /*top:0px;*/
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes avatar_fadein {
  0% {
    /*top:100px;*/
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    /*top:0px;*/
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes arrow_up {
  100% {
    opacity: 1;
  }
}
@keyframes arrow_up {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes text_shine {
  0%,
  100% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0 2px 30px #00c6ff;
  }
}
@-webkit-keyframes box_shine {
  0%,
  100% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-box-shadow: 0 0 50px #00c6ff;
            box-shadow: 0 0 50px #00c6ff;
  }
}
/*leaving animation*/
@-webkit-keyframes notice_fadeout {
  0% {
    /*top:100px;*/
    opacity: 1;
  }
  100% {
    /*top:-800%;*/
    opacity: 0;
  }
}
@keyframes notice_fadeout {
  0% {
    /*top:100px;*/
    opacity: 1;
  }
  100% {
    /*top:-800%;*/
    opacity: 0;
  }
}
@-webkit-keyframes avatar_leave {
  0% {
    top: 40%;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    top: -10%;
    opacity: 0;
  }
}
@keyframes avatar_leave {
  0% {
    top: 40%;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    top: -10%;
    opacity: 0;
  }
}
@-webkit-keyframes into_blackhole {
  0% {
    opacity: 1;
  }
  100% {
    left: 50%;
    opacity: 0;
  }
}
@keyframes into_blackhole {
  0% {
    opacity: 1;
  }
  100% {
    left: 50%;
    opacity: 0;
  }
}
html {
  font-size: 1em;
  line-height: 1.4;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  font-weight: normal;
}
body {
  min-height: 100%;
  background: #40454e;
}
div,
input,
ul,
li {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 0.8em;
}
input {
  border: 1px solid #666;
  border-radius: 0.2em;
}
input:focus {
  border: 1px solid #079fd1;
  outline: none;
}
.blue_btn {
  background-color: #079fd1;
  border-radius: 4px;
  color: white;
  border: #079fd1;
  -webkit-box-shadow: 0 2px 0 #40454e;
          box-shadow: 0 2px 0 #40454e;
}
.blue_btn:active {
  background-color: #045f7d;
}
strong {
  color: #079fd1;
}
::-webkit-input-placeholder {
  color: #555;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #555;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #555;
}
:-ms-input-placeholder {
  color: #555;
}
a {
  text-decoration: none;
}
/* ==========================================================================
     #####  ######  #######    #    ####### ####### 
    #     # #     # #         # #      #    #       
    #       #     # #        #   #     #    #       
    #       ######  #####   #     #    #    #####   
    #       #   #   #       #######    #    #       
    #     # #    #  #       #     #    #    #       
     #####  #     # ####### #     #    #    ####### 
                                                
   ========================================================================== */
body.create {
  background-color: #fafafa;
}
body.submitted {
  background-color: #0b121b;
  -webkit-transition: background-color 3s;
          transition: background-color 3s;
}
body.submitted #create_group {
  opacity: 0;
  -webkit-transition: opacity 1.5s;
          transition: opacity 1.5s;
}
#create_group {
  margin: 1.4em 0 3em 0;
}
#create_group input[type="text"] {
  background: #282b33;
  width: 100%;
  padding: 0.8em;
  font-size: 1.2em;
  color: #079fd1;
}
#create_group .notice,
#create_group .checkbox,
#create_group input[type="submit"] {
  opacity: 1;
}
#create_group .checkbox {
  color: #2a2d32;
  margin-top: 1.3em;
  font-size: 1.2em;
  display: inline-block;
}
#create_group .checkbox input {
  display: none;
}
#create_group .checkbox .box {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 0.5em;
  border-radius: 2px;
  background-color: #282b33;
  float: left;
}
#create_group .checkbox .box img {
  width: 22px;
  display: none;
}
#create_group .checkbox input:checked + label div.box img {
  display: block;
}
#create_group input[type="submit"] {
  float: right;
  padding: 0.8em 1.2em;
  font-size: 1.2em;
  width: 6em;
  margin-top: 1.4em;
}
#create_group input[type="submit"].disable {
  background: #666;
  color: #aaa;
}
.notice {
  background-color: #ececec;
  width: 100%;
  color: #454a52;
  border-radius: 4px;
  padding: 6px 10px;
  margin-top: 0.2em;
}
.notice p {
  line-height: 1.4;
  font-size: 12px;
  margin: 0;
}
/* ==========================================================================
     #####  #     #    #    ######  ####### 
    #     # #     #   # #   #     # #       
    #       #     #  #   #  #     # #       
     #####  ####### #     # ######  #####   
          # #     # ####### #   #   #       
    #     # #     # #     # #    #  #       
     #####  #     # #     # #     # ####### 
   ========================================================================== */
body.share {
  background-color: #0b121b;
  overflow: hidden;
}
body.share .container {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: initial;
  color: white;
  width: 100%;
  overflow-x: hidden;
  /****************
            AVATARS
        *****************/
  /*我*/
  /*朋友1*/
  /*朋友2*/
}
body.share .container #arrow {
  width: 50%;
  float: right;
  margin-top: 10px;
}
body.share .container h1 {
  font-size: 1.5em;
  clear: both;
  text-align: center;
  font-weight: normal;
}
body.share .container h2 {
  font-size: 1.3em;
  text-align: center;
  font-weight: normal;
}
body.share .container strong {
  padding: 0 1px;
  font-weight: normal;
}
body.share .container .notice_box {
  position: absolute;
  width: 100%;
  z-index: 999;
}
body.share .container #start_notice {
  top: 200px;
}
body.share .container #start_notice h1,
body.share .container #start_notice h2 {
  opacity: 0;
}
body.share .container #share_notice {
  top: 0;
}
body.share .container #share_notice h1,
body.share .container #share_notice h2,
body.share .container #share_notice img {
  opacity: 0;
}
body.share .container #full_notice {
  top: 150px;
}
body.share .container #full_notice h1,
body.share .container #full_notice h2 {
  opacity: 0;
}
body.share .container #guest_notice {
  top: 150px;
}
body.share .container #guest_notice h1,
body.share .container #guest_notice h2 {
  opacity: 0;
}
body.share .container #avatars_container {
  position: absolute;
  top: 40%;
  width: 420px;
  height: 400px;
  margin: 0 auto;
  left: 50%;
  margin-left: -210px;
  overflow: initial;
  z-index: 1000;
}
body.share .container .avatar {
  opacity: 0;
  background: url('../img/avatar_unknown2.png') no-repeat center;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  position: absolute;
  z-index: 1000;
  width: 42px;
  height: 42px;
  margin-left: -21px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: top 1s, left 1s, width 0.5s, height 0.5s, opacity 1s, margin-left 0.5s;
          transition: top 1s, left 1s, width 0.5s, height 0.5s, opacity 1s, margin-left 0.5s;
}
body.share .container .avatar span {
  display: none;
}
body.share .container .avatar.big {
  width: 66px;
  height: 66px;
  margin-left: -33px;
}
body.share .container .avatar.small {
  width: 24px;
  height: 24px;
  margin-left: -11px;
}
body.share .container .avatar img {
  width: 100%;
  -webkit-transition: margin-left 1s;
          transition: margin-left 1s;
}
body.share .container .avatar .flip_avatar {
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  /*flip animation*/
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  /*flip animation*/
}
body.share .container .avatar .side {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 50%;
  overflow: hidden;
  display: block;
}
body.share .container .avatar .side.back {
  display: block;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
body.share .container #ava_1 {
  z-index: 2000;
  background-image: none;
}
body.share .container #ava_1 span {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  top: -23px;
  color: white;
}
body.share .container #ava_2 {
  z-index: 1999;
  background-image: url('../img/avatar_unknown.png');
}
body.share .container #ava_3 {
  z-index: 1998;
  background-image: url('../img/avatar_unknown.png');
}
body.share .container .position1 #ava_1 {
  left: 50%;
  top: 60px;
}
body.share .container .position1 #ava_2 {
  left: 65%;
  top: 100px;
}
body.share .container .position1 #ava_3 {
  left: 40%;
  top: 120px;
}
body.share .container .position1 #ava_4 {
  left: 55%;
  top: 155px;
}
body.share .container .position1 #ava_5 {
  left: 82%;
  top: 120px;
}
body.share .container .position1 #ava_6 {
  left: 90%;
  top: 70px;
}
body.share .container .position1 #ava_7 {
  left: 99%;
  top: 110px;
}
body.share .container .position1 #ava_8 {
  left: 80%;
  top: 40px;
}
body.share .container .position1 #ava_9 {
  left: 22%;
  top: 60px;
}
body.share .container .position1 #ava_10 {
  left: 26%;
  top: 160px;
}
body.share .container .position1 #ava_11 {
  left: 8%;
  top: 80px;
}
body.share .container .position1 #ava_12 {
  left: 3%;
  top: 130px;
}
body.share .container .position1 #ava_13 {
  left: 66%;
  top: 190px;
}
body.share .container .position1 #ava_14 {
  left: 67%;
  top: 55px;
}
body.share .container .position1 #ava_15 {
  left: 74%;
  top: 80px;
}
body.share .container .position1 #ava_16 {
  left: 98%;
  top: 50px;
}
body.share .container .position1 #ava_17 {
  left: 77%;
  top: 176px;
}
body.share .container .position1 #ava_18 {
  left: 93%;
  top: 160px;
}
body.share .container .position1 #ava_19 {
  left: 38%;
  top: 50px;
}
body.share .container .position1 #ava_20 {
  left: 17%;
  top: 120px;
}
body.share .container .position1 #ava_21 {
  left: 15%;
  top: 160px;
}
body.share .container .position1 #ava_22 {
  left: 3%;
  top: 50px;
}
body.share .container .position1 #ava_23 {
  left: 40%;
  top: 190px;
}
body.share .container .position1 #ava_24 {
  left: 26%;
  top: 130px;
}
body.share .container .position1 #ava_25 {
  left: 33%;
  top: 90px;
}
body.share .container .position2 {
  /*所有头像大小相同*/
  /*row 1*/
  /*row2*/
  /*row3*/
  /*row4*/
  /*row5*/
}
body.share .container .position2 .avatar.big,
body.share .container .position2 .avatar.small {
  width: 46px;
  height: 46px;
  margin-left: -23px;
}
body.share .container .position2 #ava_4 {
  left: 10%;
  top: 30px;
}
body.share .container .position2 #ava_5 {
  left: 30%;
  top: 30px;
}
body.share .container .position2 #ava_6 {
  left: 50%;
  top: 30px;
}
body.share .container .position2 #ava_7 {
  left: 70%;
  top: 30px;
}
body.share .container .position2 #ava_8 {
  left: 90%;
  top: 30px;
}
body.share .container .position2 #ava_9 {
  left: 10%;
  top: 80px;
}
body.share .container .position2 #ava_10 {
  left: 30%;
  top: 80px;
}
body.share .container .position2 #ava_11 {
  left: 50%;
  top: 80px;
}
body.share .container .position2 #ava_12 {
  left: 70%;
  top: 80px;
}
body.share .container .position2 #ava_13 {
  left: 90%;
  top: 80px;
}
body.share .container .position2 #ava_14 {
  left: 10%;
  top: 130px;
}
body.share .container .position2 #ava_2 {
  left: 30%;
  top: 130px;
}
body.share .container .position2 #ava_1 {
  left: 50%;
  top: 130px;
}
body.share .container .position2 #ava_3 {
  left: 70%;
  top: 130px;
}
body.share .container .position2 #ava_15 {
  left: 90%;
  top: 130px;
}
body.share .container .position2 #ava_16 {
  left: 10%;
  top: 180px;
}
body.share .container .position2 #ava_17 {
  left: 30%;
  top: 180px;
}
body.share .container .position2 #ava_18 {
  left: 50%;
  top: 180px;
}
body.share .container .position2 #ava_19 {
  left: 70%;
  top: 180px;
}
body.share .container .position2 #ava_20 {
  left: 90%;
  top: 180px;
}
body.share .container .position2 #ava_21 {
  left: 10%;
  top: 230px;
}
body.share .container .position2 #ava_22 {
  left: 30%;
  top: 230px;
}
body.share .container .position2 #ava_23 {
  left: 50%;
  top: 230px;
}
body.share .container .position2 #ava_24 {
  /*opacity:1;*/
  left: 70%;
  top: 230px;
}
body.share .container .position2 #ava_25 {
  /*opacity:1;*/
  left: 90%;
  top: 230px;
}
#black_hole {
  width: 100%;
  position: absolute;
  z-index: 0;
  opacity: 0;
  top: -60%;
  -webkit-animation: rotate 60s infinite ease-in-out;
          animation: rotate 60s infinite ease-in-out;
}
#black_hole img {
  width: 100%;
}
/*
                .                                
   ___  , __   _/_     ___  .___  ` , __     ___.
 .'   ` |'  `.  |    .'   ` /   \ | |'  `. .'   `
 |----' |    |  |    |----' |   ' | |    | |    |
 `.___, /    |  \__/ `.___, /     / /    |  `---|
                                            \___/

*/
body.share.entering {
  /*没有新人加入*/
  /*发起人class=host视图*/
  /*被邀请人视图*/
  /*
  .                                       
  |     ___    ___  _   __ ` , __     ___.
  |   .'   `  /   ` |   /  | |'  `. .'   `
  |   |----' |    | `  /   | |    | |    |
 /\__ `.___, `.__/|  \/    / /    |  `---|
                                     \___/

*/
  /*解锁后飞出， host和guest视图相同的部分*/
}
body.share.entering #black_hole {
  top: -30%;
  opacity: 1;
  -webkit-transition: all 3s;
          transition: all 3s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-animation: rotate 60s infinite ease-in-out;
          animation: rotate 60s infinite ease-in-out;
}
body.share.entering #start_notice h1,
body.share.entering #start_notice h2 {
  position: relative;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
body.share.entering #start_notice h1 {
  -webkit-animation: fade-in-out 7s 4s 1;
          animation: fade-in-out 7s 4s 1;
}
body.share.entering #start_notice h2 {
  -webkit-animation: fade-in-out 7s 7s 1;
          animation: fade-in-out 7s 7s 1;
}
body.share.entering #avatars_container {
  opacity: 1 !important;
  /*transition:all 2s;*/
  top: 40%;
}
body.share.entering #avatars_container .avatar {
  opacity: 0;
  -webkit-transform: scale(0.4);
      -ms-transform: scale(0.4);
          transform: scale(0.4);
}
body.share.entering #avatars_container #ava_1 {
  -webkit-animation: floating1 3s 5.5s infinite;
          animation: floating1 3s 5.5s infinite;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
body.share.entering #avatars_container #ava_2,
body.share.entering #avatars_container #ava_5,
body.share.entering #avatars_container #ava_8,
body.share.entering #avatars_container #ava_9,
body.share.entering #avatars_container #ava_17,
body.share.entering #avatars_container #ava_22 {
  -webkit-animation: avatar_fadein 3s 12s 1 forwards, floating1 3s 12s infinite;
          animation: avatar_fadein 3s 12s 1 forwards, floating1 3s 12s infinite;
}
body.share.entering #avatars_container #ava_3,
body.share.entering #avatars_container #ava_6,
body.share.entering #avatars_container #ava_12,
body.share.entering #avatars_container #ava_16,
body.share.entering #avatars_container #ava_18,
body.share.entering #avatars_container #ava_20 {
  -webkit-animation: avatar_fadein 3s 13.5s 1 forwards, floating2 2s 13.5s infinite;
          animation: avatar_fadein 3s 13.5s 1 forwards, floating2 2s 13.5s infinite;
}
body.share.entering #avatars_container #ava_4,
body.share.entering #avatars_container #ava_7,
body.share.entering #avatars_container #ava_10,
body.share.entering #avatars_container #ava_11,
body.share.entering #avatars_container #ava_14,
body.share.entering #avatars_container #ava_19,
body.share.entering #avatars_container #ava_23,
body.share.entering #avatars_container #ava_25 {
  -webkit-box-shadow: 0 0 10px #00c6ff;
          box-shadow: 0 0 10px #00c6ff;
  -webkit-animation: avatar_fadein 3s 15s 1 forwards, floating3 2.5s 15s infinite;
          animation: avatar_fadein 3s 15s 1 forwards, floating3 2.5s 15s infinite;
}
body.share.entering #avatars_container #ava_13,
body.share.entering #avatars_container #ava_15,
body.share.entering #avatars_container #ava_19,
body.share.entering #avatars_container #ava_21,
body.share.entering #avatars_container #ava_24 {
  -webkit-animation: avatar_fadein 3s 16s 1 forwards, floating4 2s 16s infinite;
          animation: avatar_fadein 3s 16s 1 forwards, floating4 2s 16s infinite;
}
body.share.entering #avatars_container #ava_1 {
  opacity: 1;
  left: 50%;
  -webkit-animation: box_shine 6s 9s 1 forwards;
          animation: box_shine 6s 9s 1 forwards;
}
body.share.entering #avatars_container #ava_1 .flip_avatar {
  -webkit-animation: flipping 8s 2s 1 forwards;
          animation: flipping 8s 2s 1 forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
body.share.entering #ava_2 img,
body.share.entering #ava_3 img {
  display: none;
}
body.share.entering.host {
  /*host  看到第2个人加入*/
  /*host 看到第3个人加入并解锁*/
}
body.share.entering.host #share_notice h1,
body.share.entering.host #share_notice h2 {
  position: relative;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
body.share.entering.host #share_notice h1 {
  -webkit-animation: fade-in 4s 12s 1 forwards;
          animation: fade-in 4s 12s 1 forwards;
}
body.share.entering.host #share_notice h2 {
  -webkit-animation: fade-in 4s 12s 1 forwards;
          animation: fade-in 4s 12s 1 forwards;
}
body.share.entering.host #share_notice strong {
  color: #079fd1;
  font-weight: bold;
  text-shadow: 1px 1px 1px #2a2d32;
}
body.share.entering.host #share_notice img {
  -webkit-animation: arrow_up 2s 15s 1 forwards;
          animation: arrow_up 2s 15s 1 forwards;
}
body.share.entering.host.host.add_one #start_notice {
  display: none;
}
body.share.entering.host.host.add_one #ava_2 {
  background: none;
}
body.share.entering.host.host.add_one #ava_2 img {
  display: block;
}
body.share.entering.host.host.add_one #ava_2 .flip_avatar {
  -webkit-animation: flipping 4s 1 forwards ease-in-out;
          animation: flipping 4s 1 forwards ease-in-out;
}
body.share.entering.host.host.leaving #ava_3 {
  background: none;
}
body.share.entering.host.host.leaving #ava_3 img {
  display: block;
}
body.share.entering.host.host.leaving #ava_3 .flip_avatar {
  -webkit-animation: flipping 4s 1 forwards ease-in-out;
          animation: flipping 4s 1 forwards ease-in-out;
}
body.share.entering.guest {
  /*人满，两个一起flip, 然后解锁*/
}
body.share.entering.guest #guest_notice h1,
body.share.entering.guest #guest_notice h2 {
  -webkit-animation: fade-in 2s 11s 1 forwards;
          animation: fade-in 2s 11s 1 forwards;
}
body.share.entering.guest.leaving #ava_2,
body.share.entering.guest.leaving #ava_3 {
  background: none;
}
body.share.entering.guest.leaving #ava_2 img,
body.share.entering.guest.leaving #ava_3 img {
  display: block;
}
body.share.entering.guest.leaving #ava_2 .flip_avatar,
body.share.entering.guest.leaving #ava_3 .flip_avatar {
  -webkit-animation: flipping 4s 1 forwards ease-in-out;
          animation: flipping 4s 1 forwards ease-in-out;
}
body.share.entering.leaving #full_notice {
  -webkit-animation: notice_fadeout 1.5s 4.5s 1 forwards;
          animation: notice_fadeout 1.5s 4.5s 1 forwards;
}
body.share.entering.leaving #full_notice h1,
body.share.entering.leaving #full_notice h2 {
  -webkit-animation: fade-in 2s 1 forwards;
          animation: fade-in 2s 1 forwards;
}
body.share.entering.leaving #black_hole {
  opacity: 0;
  -webkit-transition: opacity 1s;
          transition: opacity 1s;
  -webkit-transition-delay: 6s;
          transition-delay: 6s;
}
body.share.entering.leaving #share_notice,
body.share.entering.leaving #guest_notice {
  -webkit-animation: notice_fadeout 1.5s 1 forwards;
          animation: notice_fadeout 1.5s 1 forwards;
}
body.share.entering.leaving #avatars_container {
  -webkit-animation: avatar_leave 2s 4.5s 1 forwards ease-in !important;
          animation: avatar_leave 2s 4.5s 1 forwards ease-in !important;
}
body.share.entering.leaving #avatars_container .avatar {
  left: 50%;
  width: 10px;
  height: 10px;
  -webkit-transition: all 1.5s ease-in;
          transition: all 1.5s ease-in;
}
body.share.entering.leaving #avatars_container #ava_1,
body.share.entering.leaving #avatars_container #ava_5,
body.share.entering.leaving #avatars_container #ava_6,
body.share.entering.leaving #avatars_container #ava_9,
body.share.entering.leaving #avatars_container #ava_10,
body.share.entering.leaving #avatars_container #ava_13,
body.share.entering.leaving #avatars_container #ava_14,
body.share.entering.leaving #avatars_container #ava_16,
body.share.entering.leaving #avatars_container #ava_19,
body.share.entering.leaving #avatars_container #ava_22 {
  -webkit-transition-delay: 4.5s;
          transition-delay: 4.5s;
}
body.share.entering.leaving #avatars_container #ava_11,
body.share.entering.leaving #avatars_container #ava_25,
body.share.entering.leaving #avatars_container #ava_2,
body.share.entering.leaving #avatars_container #ava_15,
body.share.entering.leaving #avatars_container #ava_8,
body.share.entering.leaving #avatars_container #ava_7 {
  -webkit-transition-delay: 5s;
          transition-delay: 5s;
}
body.share.entering.leaving #avatars_container #ava_12,
body.share.entering.leaving #avatars_container #ava_20,
body.share.entering.leaving #avatars_container #ava_24,
body.share.entering.leaving #avatars_container #ava_3,
body.share.entering.leaving #avatars_container #ava_4,
body.share.entering.leaving #avatars_container #ava_18 {
  -webkit-transition-delay: 5.5s;
          transition-delay: 5.5s;
}
body.share.entering.leaving #avatars_container #ava_21,
body.share.entering.leaving #avatars_container #ava_23,
body.share.entering.leaving #avatars_container #ava_13,
body.share.entering.leaving #avatars_container #ava_17 {
  -webkit-transition-delay: 6.5s;
          transition-delay: 6.5s;
}
/* ==========================================================================

    ####### ####### #       #       ####### #     # 
    #       #     # #       #       #     # #  #  # 
    #       #     # #       #       #     # #  #  # 
    #####   #     # #       #       #     # #  #  # 
    #       #     # #       #       #     # #  #  # 
    #       #     # #       #       #     # #  #  # 
    #       ####### ####### ####### #######  ## ##  
   
   ========================================================================== */
body.follow {
  background: url('../img/blackhole2.jpg') no-repeat center -220px #0b121b;
  -webkit-background-size: 100% auto;
          background-size: 100% auto;
}
body.follow ul {
  width: 13em;
  margin: 0 auto;
  font-size: 1.2em;
}
body.follow ul .box {
  border-radius: 4px;
  width: 1.4em;
  height: 1.4em;
  display: inline-block;
  margin-right: 0.5em;
  background: #2a2d32 url('../img/check.png') no-repeat center;
  -webkit-background-size: 1.2em 1.2em;
          background-size: 1.2em;
  position: relative;
  top: 0.4em;
}
body.follow .foxhole {
  width: 62px;
  display: block;
  margin: 2em auto;
}
/* ==========================================================================

    #       ###  #####  ####### 
    #        #  #     #    #    
    #        #  #          #    
    #        #   #####     #    
    #        #        #    #    
    #        #  #     #    #    
    ####### ###  #####     #    
                            
   ========================================================================== */
.top_ad {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 44px;
  text-align: center;
  line-height: 44px;
  /*chat page*/
  /*顶部关注按钮*/
}
.top_ad .face {
  width: 100%;
  height: 44px;
}
.top_ad .right_logo {
  background: #e9ecf1 url('../img/logo-fox@2x.png') right no-repeat;
  -webkit-background-size: auto 44px;
          background-size: auto 44px;
}
.top_ad .group_info {
  background: #2a2d32;
  color: white;
  padding: 0 1em;
}
.top_ad .group_info .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  display: inline-block;
}
.top_ad .group_info .number {
  float: right;
}
.top_ad.follow button {
  border: 0;
  padding: 0.3em 0.4em;
  margin-right: 0.4em;
}
/*带翻转效果的顶部条*/
.top_ad.cube_view {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
          transition: transform 1s;
}
.top_ad.cube_view .face {
  position: absolute;
  top: 0;
}
.top_ad.cube_view .face1 {
  -webkit-transform: translateZ(22px);
          transform: translateZ(22px);
}
.top_ad.cube_view .face2 {
  -webkit-transform: rotateX(-90deg) translateZ(22px);
          transform: rotateX(-90deg) translateZ(22px);
}
.top_ad.cube_view.show_face1 {
  -webkit-transform: translateZ(-22px);
          transform: translateZ(-22px);
}
.top_ad.cube_view.show_face2 {
  -webkit-transform: translateZ(-22px) rotateX(90deg);
          transform: translateZ(-22px) rotateX(90deg);
}
.bottom_ad {
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: 44px;
  text-align: center;
  background: #4b515b;
  border-top: 1px solid #6d6c6d;
}
.bottom_ad.right_logo {
  background: #4b515b url('../img/logo-fox@2x.png') right no-repeat;
  -webkit-background-size: auto 44px;
          background-size: auto 44px;
}
.bottom_ad p {
  margin: 0;
  line-height: 44px;
  color: white;
}
.top_ad + .container {
  margin-top: 44px;
  padding: 0.8em 0;
}
.top_tabs {
  position: fixed;
  top: 0;
  z-index: 1001;
  width: 100%;
  border-bottom: 1px solid #202228;
  background-color: #2a2d32;
}
.top_tabs .tab {
  width: 50%;
  text-align: center;
  font-size: 0.9em;
  /*padding:0.8em;*/
  line-height: 40px;
}
.top_tabs .tab.active {
  background-color: #40454e;
  color: #079fd1;
}
.top_tabs .tab.inactive {
  background-color: ##30343d;
  color: #696c70;
}
.top_tabs .tab span {
  padding-left: 1em;
  background-repeat: no-repeat;
  -webkit-background-size: auto 0.9em;
          background-size: auto 0.9em;
  background-position: left;
}
.top_tabs #tab1 {
  float: left;
  border-right: 1px solid #333;
  background-position: 5px center;
}
.top_tabs #tab1.inactive span {
  background-image: url('../img/icon-position2.png');
}
.top_tabs #tab1.active span {
  background-image: url('../img/icon-position-blue.png');
}
.top_tabs #tab2 {
  float: right;
  background-position: left;
}
.top_tabs #tab2.inactive span {
  background-image: url('../img/icon-star.png');
}
.top_tabs #tab2.active span {
  background-image: url('../img/icon-star-blue.png');
}
.top_tabs + .container {
  margin: 41px 0 44px 0;
  /*tabs高度41px*/
  /*底部广告条的高度44px*/
}
.tab_list {
  width: 100%;
  overflow-x: hidden;
}
.tab_list .list_wrapper {
  width: 200%;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: right 0.5s;
          transition: right 0.5s;
}
.tab_list.tab1_active .list_wrapper {
  right: 0%;
}
.tab_list.tab2_active .list_wrapper {
  right: 100%;
}
.tab_list ul {
  width: 50%;
  float: left;
  /*padding: 0 1px;*/
}
.list_view {
  color: white;
}
.list_view .container {
  margin-left: 0;
  margin-right: 0;
}
.list_view .no_item li {
  height: auto;
  background: none;
  text-align: center;
  padding: 2em;
  color: #bbb;
}
.list_view .no_item li:active {
  background: none;
}
.list_view .no_item .main {
  font-size: 1.3em;
  margin-bottom: 2em;
}
.list_view .no_item a {
  color: #079fd1;
  border: 1px solid #079fd1;
  border-radius: 4px;
  padding: 0.4em 1em;
  display: inline-block;
}
.list_view .no_item a:active {
  background: #2a2d32;
}
.list_view li {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #2a2d32;
  margin: 0 0 1px 0;
  overflow: hidden;
  /*border-radius: 4px;*/
}
.list_view li:active {
  background: #30333a;
}
.list_view li .group_info {
  padding: 1em;
  margin-right: 40px;
}
.list_view li .group_info .name {
  font-size: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fcfbfb;
}
.list_view li .group_info .info {
  font-size: 0.8em;
  color: #888989;
  margin-top: 0.6em;
}
.list_view li .group_info .info span {
  margin-right: 1.6em;
}
.list_view li .group_info .info img {
  height: 0.9em;
  margin-right: 0.3em;
}
.list_view li .group_info .info .message {
  color: #079fd1 !important;
}
.list_view li .action {
  /*height:@list_height;*/
  height: 40px;
  width: 40px;
  border-radius: 20px;
  position: absolute;
  right: 10px;
  top: 20px;
  text-decoration: none;
  color: white;
  background-color: #353940;
  -webkit-box-shadow: 0 2px 0 #202228;
          box-shadow: 0 2px 0 #202228;
}
.list_view li .action.enter {
  background: url('../img/icon-arrow_r-blue.png') no-repeat center #353940;
  -webkit-background-size: auto 1em;
          background-size: auto 1em;
}
.list_view li .action.full {
  text-align: center;
  color: #f46a66;
  line-height: 40px;
}
.list_view li .action:active {
  background-color: #045f7d;
}
/* ==========================================================================

     #####  #     #    #    ####### 
    #     # #     #   # #      #    
    #       #     #  #   #     #    
    #       ####### #     #    #    
    #       #     # #######    #    
    #     # #     # #     #    #    
     #####  #     # #     #    #    
                               
   ========================================================================== */
.chat_view {
  margin: 0 0.6em 80px ;
  /*底部输入的高度 + 20px*/
  padding-top: 0 !important;
  overflow: auto;
}
.chat_view .datetime {
  text-align: center;
  color: #94969b;
  font-size: 0.7em;
  margin: 1em 0 0.6em;
}
.chat_view .message {
  position: relative;
  margin-bottom: 0.2em;
  line-height: 1.5;
  font-size: 0.9em;
}
.chat_view .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #303339;
  position: absolute;
  margin-top: 4px;
}
.chat_view .avatar img {
  width: 30px;
}
.chat_view .content {
  color: white;
  border-radius: 2px;
  margin: 0 40px;
  background: #2a2d32;
  padding: 0.6em 1.2em;
}
.chat_view .left .avatar {
  left: 0;
}
.chat_view .right .avatar {
  right: 0;
}
.chat_view .right .content {
  overflow: auto;
  color: #079fd1;
}
.chat_view .right .content span {
  float: right;
}
.chat_input {
  position: fixed;
  bottom: 0;
  z-index: 19999;
  background: #2a2d32;
  width: 100%;
  border-top: 1px solid #40454e;
  padding: 9px;
}
.chat_input input {
  padding: 0.4em 0.7em;
}
.chat_input .message_input {
  background: #40454e;
  width: 80%;
  color: white;
}
.chat_input .submit {
  float: right;
  width: 18%;
  color: #079fd1;
  background: none;
  border: 0;
}
.chat_input .submit.disable {
  color: #666;
}
.chat_input a {
  display: inline-block;
}
.chat_input .back {
  background: none;
  border: none;
  color: #ddd;
  padding: 0.4em 0.4em;
}
.chat_input .back img {
  height: 0.9em;
  margin-right: 0.4em;
}
.chat_input .join_group {
  padding: 0.4em 2.4em;
  float: right;
}
.chat_input .notice_full {
  color: #f46a66;
  float: right;
  padding: 0.4em;
}
#top_msg {
  color: white;
  position: fixed;
  z-index: 20000;
  background: rgba(0, 191, 255, 0.8);
  right: -200px;
  top: 50px;
  font-size: 0.8em;
  padding-right: 0.6em;
  padding-left: 1em;
  height: 30px;
  line-height: 30px;
  border-radius: 2em 0 0 2em;
  -webkit-box-shadow: 0 2px 0 #2a2d32;
          box-shadow: 0 2px 0 #2a2d32;
  -webkit-transition: right 1s;
          transition: right 1s;
}
#top_msg.active {
  right: 0;
}
#bottom_msg {
  color: white;
  position: fixed;
  z-index: 5;
  background: rgba(0, 191, 255, 0.8);
  width: 100%;
  font-size: 0.9em;
  text-align: center;
  height: 40px;
  line-height: 38px;
  -webkit-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.1);
  bottom: -50px;
  -webkit-transition: bottom 1s;
          transition: bottom 1s;
}
#bottom_msg .close {
  float: right;
  padding: 0 10px;
  font-size: 1.4em;
  color: #2a2d32;
  line-height: 36px;
}
#bottom_msg:active {
  background: #045f7d;
}
#bottom_msg.active {
  bottom: 50px;
}
/* ==========================================================================
   
    #     # ###  #####   #####  
    ##   ##  #  #     # #     # 
    # # # #  #  #       #       
    #  #  #  #   #####  #       
    #     #  #        # #       
    #     #  #  #     # #     # 
    #     # ###  #####   #####  
                            
   ========================================================================== */
.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  text-align: center;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}
#alert {
  top: 50px;
  z-index: 99999;
  width: 220px;
  left: 50%;
  margin-left: -110px;
  padding: 2em 1em 1em 1em;
  color: #fedd02;
  font-size: 1.1em;
}
#alert a {
  color: #079fd1;
  display: block;
  width: 100%;
  text-align: center;
  padding: 1em 0;
}
#loading {
  /*display:none;*/
  top: 50%;
  margin-top: -100px;
  width: 120px;
  left: 50%;
  margin-left: -60px;
  padding: 1em;
}
#loading img {
  width: 40px;
}
#loading span {
  display: block;
  text-align: center;
  width: 100%;
  color: #ccc;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
