@shine:rgba(0,198,255,1);

@keyframes floating1
{

    0%,100% {
        margin-top: 0px;
        opacity:0.6;

    }

    60% {
        margin-top: -6px;
        opacity:1;
        /*box-shadow:0 0 20px @shine;*/
    }


}

@keyframes floating2
{
    0%,100% {
        margin-top: 0px;
        opacity:0.4;
    }


    40% {
        margin-top: -3px;
        opacity:1;
        
    }



}

@keyframes floating3
{
    0%,100% {
        margin-top: 0px;
        opacity:0.6;
    }


    90% {
        margin-top: -2px;
        opacity:1;

    }


}

@keyframes floating4
{
    0%,100% {
        margin-top: 0px;
        opacity:0.4;
    }
    60% {
        margin-top: -2px;
        opacity:1;

    }

    90% {
        margin-top: -4px;
    }


}




@keyframes hole
{
    25% {
        transform:scale(0.7) rotate(0deg);

    }

    65%{
      transform:scale(4) rotate(100deg);
    }

    80%{
      transform:scale(4.5) rotate(90deg);
    }
  
    100% {
        transform:scale(12) rotate(90deg);

    }
    

}




/*flipping avatar*/


@keyframes flipping
{
    0% {
        /*bottom:0;*/
        transform: rotateY(0deg);
       
    }
 
    100% {

        /*bottom:30px;*/
        transform: rotateY(2340deg);
    }

}


@keyframes fade-in-out
{
    0%{
        bottom:0;
        opacity:0;
        transform:scale(0.4);
    }
    40% {
        opacity:1;
        
    }
    60% {
        opacity:1;
        transform:scale(1.2);
    }
 
    100% {
        opacity:0;
        bottom:160px;
        transform:scale(0.6);
    }

}


@keyframes fade-in
{
    0%{
        top:100px;
        opacity:0;
        transform:scale(0.4);
    }



    100% {
        top:0px;
        opacity:1;
        transform:scale(1);
    }
 

}

@keyframes fade-out
{
    0%{
        top:100px;
        opacity:1;
    }



    100% {
        top:-800%;
        opacity:0;
    }
 

}

@keyframes avatar_fadein
{
    0%{
        /*top:100px;*/
        opacity:0;
        transform:scale(0.4);
    }



    100% {
        /*top:0px;*/
        opacity:1;
        transform:scale(1);
    }
 

}


@keyframes arrow_up
{
    0%{
        

    }



    100% {

        opacity:1;
    }
 

}


@keyframes rotate
{
    0%{
       transform:rotate(0deg); 

    }



    100% {

        transform:rotate(360deg); 
    }
 

}


@-webkit-keyframes text_shine 
{
    0%,100% { text-shadow:none;}
    50% { text-shadow:0 2px 30px @shine; }
}

@-webkit-keyframes box_shine 
{
    0%,100% { box-shadow:none;}
    50% { box-shadow:0 0 50px @shine; }
}



/*leaving animation*/


@keyframes notice_fadeout
{
    0%{
        /*top:100px;*/
        opacity:1;
    }



    100% {
        /*top:-800%;*/
        opacity:0;
    }
 

}


@keyframes avatar_leave
{
    0%{
        top:40%;
        opacity:1;
    }

    70%{
        opacity:1;
    }
    100% {
        top:-10%;
        opacity:0;
    }
 

}

@keyframes into_blackhole{
    0%{
        opacity:1;
    }

    100%{
        left:50%;
        opacity:0;
    }


}
